<div class="page-content">
  <%= render 'layouts/project_title' %>
  <div class="space-12"></div>
  
  <h3 class="header smaller lighter green">과정관리 <small> 신규 과정 등록</small> </h3>
	<%= render 'form' %>
</div>