<div class="page-content">
  <div class="space-8"></div>
  <div class="page-header">
    <h1>
      방화벽 수정
      <small>
        <i class="ace-icon fa fa-hand-o-right"></i>
        Firewall
      </small>
    </h1>
  </div><!-- /.page-header -->

<%= render 'form' %>
