<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @progress_type.name %>
</p>

<%= link_to 'Edit', edit_progress_type_path(@progress_type) %> |
<%= link_to 'Back', progress_types_path %>
