<div class="page-content">
  <%= render 'layouts/project_title' %>
  <div class="space-12"></div>
  
  <h3 class="header smaller lighter green">스켸쥴 <small> 신규 이미지 등록</small> </h3>

 	<%= render 'form' %>
</div>