<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->

      <div class="error-container">
        <div class="well">
          <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
              <i class="ace-icon fa fa-sitemap"></i>
              500
            </span>
            페이지를 찾을 수 없습니다.
          </h1>

          <div>
            <div class="space"></div>
            <h4 class="smaller">Try one of the following:</h4>

            <ul class="list-unstyled spaced inline bigger-110 margin-15">
              <li>
                <i class="ace-icon fa fa-hand-o-right blue"></i>
                해당 사이트에 접근권한이 없습니다.
              </li>

              <li>
                <i class="ace-icon fa fa-hand-o-right blue"></i>
                관리자로부터 권한을 부여 받으셔야 합니다.
              </li>
            </ul>
          </div>

          <hr />
          <div class="space"></div>

          <div class="center">
            
          </div>
        </div>
      </div><!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->