<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="error-container">
				<div class="well">
					<h1 class="grey lighter smaller">
						<span class="blue bigger-125">
							<i class="icon-sitemap"></i>
							404
						</span>
						페이지를 찾을 수 없습니다.
					</h1>

					<div>
						<div class="space"></div>
						<h4 class="smaller">Try one of the following:</h4>

						<ul class="list-unstyled spaced inline bigger-110 margin-15">
							<li>
								<i class="icon-hand-right blue"></i>
								찾으시는 페이지가 다른 메뉴나 다른 URL 로 이동하였거나 더 이상 제공되지 않는 경우일 수 있습니다.
							</li>

							<li>
								<i class="icon-hand-right blue"></i>
								입력하신 페이지의 주소가 올바른지 다시 한 번 확인해 보시기 바랍니다.
							</li>
						</ul>
					</div>

					<hr />
					<div class="space"></div>

					<div class="center">
						<%= link_to '<i class="icon-dashboard"></i>프로젝트 선택화면으로 돌아가기'.html_safe, projects_path, :class => 'btn btn-primary' %>
					</div>
				</div>
			</div><!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->