<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->

      <div class="error-container">
        <div class="well">
          <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
              <i class="ace-icon fa fa-sitemap"></i>
              500
            </span>
            페이지를 찾을 수 없습니다.
          </h1>

          <div>
            <div class="space"></div>            
          </div>

          <hr />
          <div class="space"></div>

          <div class="center">
            
          </div>
        </div>
      </div><!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->